@{
    ViewBag.Title = "ReadBewertung";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLokation</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>

</head>
<body>
    <div>
        <ul id="bewertungen"></ul>
    </div>
    <div>
        <form id="readBewertungsForm" method="post">
            <h3>Bewertungen</h3>

            <p>
                <label for="lokationsLng">Lng: </label>
                <input type="text" name="Lng" id="lokationsLng" />
            </p>
            <p>
                <label for="lokationsPlaceID">Place ID: </label>
                <input type="text" name="Place_id" id="lokationsplaceid" />
            </p>
            <input type="hidden" name="Service" value="ReadBewertungen" />
            <input type="button" id="send" value="Send" />

        </form>
    </div>
    <script type="text/javascript">
        $('#send').click(function () {
            //Hier aufpasssen wenn projekt nicht veröffenlicht muss ../api/WWW...
            $.post("../api/WWWBewertungPortal",
                  $("#readBewertungsForm").serialize(),
                  function (value) {
                      $('#bewertungen').append('<li>' + value.Place_id + '</li>');
                  },
                    "json"
                  );
        });
    </script>
</body>
</html>